@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.grid-item-sam:hover img {
  filter: grayscale(0%);
  transition: 0.5s;
}
.grid-item-sam img {
  filter: grayscale(100%);
  transition: 0.5s;
}
.imageHover {
  filter: invert(0);
}
.imageHover:hover {
  filter: invert(1);
}
