@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "text";
  src: url("/fonts/PPFragment-SansRegular.otf");
}
::selection {
  color: #f2f2f2;
  background: #e45b54;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#sam {
  filter: grayscale(100%);
}

.grid-item-retour:hover img {
  transform: scale(1);
  transition: 0.5s;
}
.grid-item-retour img {
  transform: scale(0.9);
  transition: 0.5s;
}

@media (max-width: 1000px) {
  body,
  a {
    cursor: default;
  }

  .custom-cursor {
    display: none;
  }
  .cursor-text {
    display: none;
  }
}
@media (min-width: 1000px) {
  body,
  a {
    cursor: none;
  }

  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    mix-blend-mode: difference;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  .cursor-text {
    color: black;
    font-size: 0.25rem;
    font-weight: 900;
    display: none;
  }
}
.bloc {
  border: solid 0.08rem #4b4b4b;
}
.page-header {
  height: 100vh;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.page-header:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("../assets/Grain.png");
  background-size: cover;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
