@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "text";
  src: url("/fonts/PPFragment-SansRegular.otf");
}
::selection {
  color: #f2f2f2;
  background: #e45b54;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#sam {
  filter: grayscale(100%);
}

.grid-item-retour:hover img {
  transform: rotate(25deg);
  transition: 0.5s;
}
.grid-item-retour img {
  transform: rotate(0deg);
  transition: 0.5s;
}

body {
  background-color: #1e1e1e;
}
@media (max-width: 1000px) {
  body,
  a {
    cursor: default;
  }

  .custom-cursor {
    display: none;
  }
  .cursor-text {
    display: none;
  }
}
@media (min-width: 1000px) {
  body,
  a {
    cursor: none;
  }

  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    mix-blend-mode: difference;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .cursor-text {
    color: black;
    font-size: 0.25rem;
    font-weight: 900;
    display: none;
  }
}
.bloc {
  border: solid 0.08rem #4b4b4b;
}
.pc {
  background-image: url(../assets/pc.svg), url(../assets/noise.png);
}
